.firm_text1{
    animation: cssAnimation 0s 1.5s forwards;
    visibility: hidden;
    @keyframes cssAnimation {
        to   { visibility: visible; }
    }
}

.firm_text2{
    animation: cssAnimation 0s 2.5s forwards;
    visibility: hidden;
    @keyframes cssAnimation {
        to   { visibility: visible; }
    }
}


.firm_text3{
    animation: cssAnimation 0s 3.5s forwards;
    visibility: hidden;
    @keyframes cssAnimation {
        to   { visibility: visible; }
    }
}
