 .Record {
  text-align: center;
  padding-bottom: 30px;  
  background-size: cover;
  background-color: grey;
  background-blend-mode: multiply;
  }
  
  .Record > h1 {
    /* color: white;
    font-size: 48px;
    /* margin: 0.7rem 0rem; */
    /* text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); */
    font-size: 3rm;
    text-align: center;
    padding-top: 20px;
    color: #FFD700;
  }
  
  .all-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .card-container {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    max-width: 500px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-container > img {
    width: 95%;
    margin-top: 0.4rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s all ease-in;
    height: 210px;
  }
  
  .card-container > img:hover {
    transform: scale(1.06);
  }
  
  .card-details {
    color: white
  }
  
  .card-details > h2 {
    font-size: 18px;
    margin: 0.7rem 0rem;
    text-decoration: underline;
  }
  
  .card-details > p {
    margin-bottom: 0.7rem;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
  }
  
  .all-buttons {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    margin: 2rem 15rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .button-container > button {
    padding: 0.5rem 1rem;
    background-color: rgba(255,255,255,0.5);
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s all ease-in;
    width: 180px;
    height: 45px;
  }
  
  .button-container > button:hover {
    background-color: rgba(0, 32, 63, 80%);
  }
  

  
  @media only screen and (max-width: 850px) {
    .all-cards {
      grid-template-columns: repeat(1, 1fr);
    }
    .Record > h1 {
      font-size: 25px;
    }

    .card-container {
      width: 280px;
      height: 380px;
      margin-bottom: 1.5rem;
      margin-left: auto;
      margin-right: auto;
    }


    .card-details > h2 {
      font-size: 16px;
    }
    .card-details > p {
      font-size: 14px;
    }
    .all-buttons{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0rem 0rem;
      margin-bottom: 1px;
      gap: 20px;
      padding-left: 10px;
      padding-right: 10px;

  }

  .button-container > button {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    width: 90%;
  }
  }